.hero-banner {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("https://source.unsplash.com/random/1000x500");
  background-size: cover;
  color: #ffffff;
  padding: 180px 0;
}

.hero-banner h1 {
  font-size: 32px;
  font-weight: bold;
}

.hero-banner p {
  font-size: 22px;
  opacity: 0.8;
  padding: 0 0 10px 0;
}
